body {
  /* background-image: url('img/Photo\ by\ pexels.com.pl.jpg'); 
  background-position: center;
  background-size: cover;
  height: 100vh; */
  background-color: rgb(168, 166, 15);
}

.App {
  text-align: center;
}

.activeTasks span {
  margin-right: 10px;
}
.activeTasks button {
  background-color: rgb(43, 42, 42);
  color: rgb(216, 212, 212);
}

.doneTasks span {
  margin-right: 10px;
}
.doneTasks button {
  background-color: rgb(43, 42, 42);
  color: rgb(216, 212, 212);
}



.TaskList .border {
  border: solid 1px rgb(39, 38, 38);
}


.Form input {
margin: 10px;
padding: 5px 10px;
font-size: 20px;
}

.Form input[type='checkbox'] {
width: 17px;
height: 17px;
}

.Form {
  font-size: 20px;
}

.Form button {
  padding: 3px 10px;
  text-transform: uppercase;
  margin: 20px;
  font-size: 20px;
  background-color: rgb(211, 25, 102);
  border: 2px solid rgb(41, 38, 38);
  border-radius: 22%;
  cursor: pointer;
  transition: .3s linear;
} 
.Form button:hover {
  font-size: 21px;
}

@media (max-width: 320px) {
  .Form input {
      margin: 10px 0;
  }
}